<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBs6_vHxLYCzpCzr9o3iez59QGlsbxH3PY</string>
	<key>GCM_SENDER_ID</key>
	<string>264620389914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.conectaraiz</string>
	<key>PROJECT_ID</key>
	<string>conectaraiz-a5b3c</string>
	<key>STORAGE_BUCKET</key>
	<string>conectaraiz-a5b3c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264620389914:ios:827c8d55e9ffed299783a3</string>
</dict>
</plist>